{
  "presets": [
    "env", "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
