[server]
host = 0.0.0.0
port = 1337
url[] = 'http://localhost:1337'
url[] = 'https://localhost:1337'
# trust_proxy = yes
# ssl = yes
# key_file = /etc/webfm/certs/host.key
# cert_file = /etc/webfm/certs/host.cert
# #ca_file = /etc/webfm/certs/ca.cert

[redis]
url = redis://localhost:6379/1

#
# User Alice example
#
# [alice:user]
# # set the password to output of something like this:  echo -n "mysecretpassword" | sha256sum
# password = 0f627b6b4d39aef4dbbc2e0800d0f6d5f2a4781f938f0d855fd7c8653c506cf6
# # read-only shares
# read[] = my share:/some/path
# read[] = other share:/some/other/path
# # write shares
# write[] = writeable:/home/alice/tmp
