<!DOCTYPE html>
<html>
  <head>
    <title>WebFM</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <style>
      html, body {
        height: 100%;
      }
      body {
        margin: 0;
      }
      #page-loader {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #page-loader .row {
        width: auto;
      }
      #app {
        display: none;
      }
    </style>
  </head>

  <body>
    <script src="/twbs.bundle.js"></script>
    <script src="/fa.bundle.js"></script>
    <script src="/site.bundle.js"></script>

    <%- body %>
  </body>
</html>
