<!DOCTYPE html>
<html>
  <head>
    <title>WebFM</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Roboto:400,400i,700,700i" rel="stylesheet">

    <% if (sails.config.environment === 'production') { %>
      <link rel="stylesheet" href="/twbs.css">
      <link rel="stylesheet" href="/fa.css">
      <link rel="stylesheet" href="/site.css">
    <% } %>
  </head>

  <body>
    <script src="/js/sails.io.js"></script>
    <script src="/common.bundle.js"></script>
    <script src="/twbs.bundle.js"></script>
    <script src="/fa.bundle.js"></script>
    <script src="/site.bundle.js"></script>

    <%- body %>
  </body>
</html>
