<!DOCTYPE html>
<html>
  <head>
    <title>WebFM</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Roboto:400,400i,700,700i" rel="stylesheet">

    <% if (sails.config.environment === 'production') { %>
      <link rel="stylesheet" href="/twbs.css">
      <link rel="stylesheet" href="/fa.css">
      <link rel="stylesheet" href="/site.css">
    <% } %>

    <style>
      html, body {
        width: 100%;
        height: 100%;
      }
      body.loading {
        background-color: #ffffff;
        color: #000000;
        margin: 0;
      }

      .page-overlay {
        z-index: 100000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .page-overlay.shaded {
        background-color: rgba(0, 0, 0, 0.75);
      }

      #app {
        width: 100%;
        height: 100%;
        display: none;
      }
    </style>
    <script>
      var img = new Image();
      img.src = "/img/loader-large.gif";

      window.addEventListener('load', function () {
        window.isLoaded = true;
      });
    </script>
  </head>

  <body class="loading">
    <script src="/js/sails.io.js" reconnection="true" environment="<%= sails.config.environment %>"></script>
    <script src="/common.bundle.js"></script>
    <script src="/twbs.bundle.js"></script>
    <script src="/fa.bundle.js"></script>
    <script src="/site.bundle.js"></script>

    <%- body %>
  </body>
</html>
