.found-nodes {
  height: 5em;
  overflow: auto;

  .processing {
    padding-top: 0.5em;
    font-size: 24pt;
    text-align: center;
  }
}

.progress-widget {
  height: 10em;
  overflow: auto;
  white-space: pre;
}
