html, body {
  height: 100%;
}

body {
  margin: 0;
}

.window-wrapper {
  width: 100%;
  height: 100%;
}

.flex-grow {
  flex: 1 0 auto;
}

.fa-mr {
  margin-right: 0.33em;
}

.control-required {
  display: block;
  color: theme-color("warning");
  font-size: xx-small;
  text-transform: uppercase;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
