// Variables

$fade-duration: 300;
$fade-duration-ms: $fade-duration + 0ms;

// JS Exports

:export {
  fadeDuration: $fade-duration;
}

// Imports

@import "root";
@import "form";
@import "fade";
@import "misc";
