html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1b2631;
  color: rgba(255, 255, 255, 0.75);
}

.window-wrapper {
  width: 100%;
  height: 100%;
}

#page-loader {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-loader .row {
  width: auto;
}

#app {
  display: none;
}

.flex-grow {
  flex: 1 0 auto;
}

.fa-mr {
  margin-right: 0.33em;
}

.control-required {
  display: block;
  color: theme-color("warning");
  font-size: xx-small;
  text-transform: uppercase;
}

$fade-duration: 300;
$fade-duration-ms: $fade-duration + 0ms;

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity $fade-duration-ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity $fade-duration-ms ease-in;
}

:export {
  fadeDuration: $fade-duration;
}
