.pane-container {
  flex: 1 0 0;
  display: flex;

  .pane {
    flex: 1 0 0;
    display: flex;
    align-items: stretch;

    .view {
      max-width: calc(50vw - 20px);
      margin: 10px;
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid lighten($body-bg, 10%);

      .header {
        background-color: lighten($body-bg, 10%);
        display: flex;
        align-items: center;
        transition: background-color 200ms linear;

        .share {
          margin: 5px 10px;

          .fit-width {
            float: left;
            max-width: 15vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .path {
          margin: 5px 10px 5px 0;
          flex: 1 1 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .tools {
          margin: 5px 10px 5px 0;
        }

        &.active {
          background-color: lighten($modal-content-bg, 10%);
        }
      }

      .body {
        flex: 1 0 0;
        display: flex;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .listing {
          flex: 1 1 0;
          display: table;
          width: 100%;

          .listing-item {
            display: table-row;

            .name {
              display: table-cell;
              position: relative;

              .fit-width {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 3px 0 3px 15px;
                line-height: 2rem;
              }
            }

            .info {
              padding: 3px 15px 3px 10px;
              display: table-cell;
              width: 1px;
              white-space: nowrap;

              .wrapper {
                display: flex;
                width: 100%;

                .size {
                  flex: 1 1 0;
                  line-height: 2rem;
                }

                .tools {
                  margin: 0 0 0 10px;
                }
              }
            }

            &.odd {
              background-color: darken($body-bg, 1%);
            }

            &.even {
              background-color: lighten($body-bg, 1%);
            }

            &.hovered {
              background-color: lighten($body-bg, 10%);
            }

            &.selected {
              background-color: darken($secondary, 15%);
              color: color-yiq(darken($secondary, 15%));

              &.hovered {
                background-color: darken($secondary, 10%);
              }
            }
          }
        }

        .scroll-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .scroll-box {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .scroll-box__track {
              background-color: rgba($secondary, 0.25);

              .scroll-box__handle {
                background-color: $secondary;
              }
            }
          }
        }

        &.disabled {
          align-items: center;
          justify-content: center;
          font-style: italic;
          color: $secondary;
        }
      }

      &.active {
        background-color: $modal-content-bg;
        border-color: lighten($modal-content-bg, 10%);
        box-shadow: 0 0 7px 3px $modal-content-bg;

        .listing-item {
          &.odd {
            background-color: darken($modal-content-bg, 1%) !important;
          }

          &.even {
            background-color: lighten($modal-content-bg, 1%) !important;
          }

          &.hovered {
            background-color: lighten($modal-content-bg, 10%) !important;
          }

          &.selected {
            background-color: darken($secondary, 10%) !important;
            color: color-yiq(darken($secondary, 10%)) !important;

            &.hovered {
              background-color: darken($secondary, 5%) !important;
            }
          }
        }
      }
    }
  }
}

body.loaded .pane-container .pane .view {
  transition: background-color 200ms ease-in,
              border-color 200ms ease-in,
              box-shadow 200ms ease-in;
}

@mixin narrow {
  .body {
    .listing {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .listing-item {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .name {
          height: 2rem;
          margin: 3px 15px 3px 15px;
          padding: 0;
          box-sizing: content-box;

          .fit-width {
            margin: 0;
          }
        }

        .info {
          width: 100%;
          height: 2rem;
          margin: 3px 0 3px 0;
          padding: 0;
          box-sizing: content-box;

          .wrapper {
            padding: 0 15px 0 15px;

            .tools {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }
}

@mixin full-width {
  max-width: calc(100vw - 20px);

  .header .share .fit-width {
    max-width: 40vw;
  }
}

@include media-breakpoint-up(sm) {
  .pane-container .pane:only-child .view {
    @include full-width();
  }
}

@include media-breakpoint-down(sm) {
  .pane-container .pane:nth-child(1).pane:nth-last-child(2) .view,
  .pane-container .pane:nth-child(2).pane:nth-last-child(1) .view {
    @include narrow();
  }
}

@include media-breakpoint-down(xs) {
  .pane-container {
    flex-direction: column;

    .pane .view {
      @include full-width();
      @include narrow();
    }
  }
}
