.pane-container {
  flex: 1 0 0;
  display: flex;

  .pane {
    flex: 1 0 0;
    display: flex;
    align-items: stretch;

    .view {
      max-width: calc(50vw - 20px);
      margin: 10px;
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid lighten($body-bg, 10%);

      .header {
        background-color: lighten($body-bg, 10%);
        color: darken(color-yiq(lighten($body-bg, 10%)), 35%);
        display: flex;
        align-items: center;
        transition: background-color 200ms linear;

        .share {
          margin: 5px 10px;

          .fit-width {
            float: left;
            max-width: 15vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .path {
          margin: 5px 10px 5px 0;
          flex: 1 1 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .tools {
          margin: 5px 10px 5px 0;
          position: relative;

          .submenu {
            position: absolute;
            right: -5px;
            white-space: nowrap;
            background-color: lighten($body-bg, 20%);
            padding: 5px;
            z-index: 1000;
          }
        }
      }

      .body {
        flex: 1 0 0;

        .listing-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            line-height: 2rem;

            .name {
              flex: 1 1 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding: 3px 0 3px 15px;
            }

            .info {
              padding: 3px 15px 3px 10px;
              white-space: nowrap;

              .tools {
                padding: 0 0 0 10px;
              }
            }

            &.odd {
              background-color: darken($body-bg, 1%);
            }

            &.even {
              background-color: lighten($body-bg, 1%);
            }

            &:hover {
              background-color: lighten($body-bg, 10%);
            }

            &.selected {
              background-color: darken($secondary, 15%);
              color: color-yiq(darken($secondary, 15%));

              &:hover {
                background-color: darken($secondary, 10%);
              }
            }
          }

        &.disabled {
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: italic;
          color: $secondary;
        }

        &.content-body {
          padding: 10px;
          overflow: auto;
          white-space: pre;
          font-family: "Roboto Mono", monospace;
        }

        &.info-body {
          overflow: auto;

          .listing-row {
            .info {
              flex: 1 1 0;
              text-align: right;
            }

            .name {
              flex: 2 2 0;
            }
          }
        }
      }

      &.active {
        background-color: $modal-content-bg;
        color: darken(color-yiq($modal-content-bg), 25%);
        border-color: lighten($modal-content-bg, 10%);
        box-shadow: 0 0 7px 3px $modal-content-bg;

        .header {
          background-color: lighten($modal-content-bg, 10%);
          color: darken(color-yiq(lighten($modal-content-bg, 10%)), 25%);

          .tools .submenu {
            background-color: lighten($modal-content-bg, 20%);
          }
        }

        .listing-row {
          &.odd {
            background-color: darken($modal-content-bg, 1%) !important;
          }

          &.even {
            background-color: lighten($modal-content-bg, 1%) !important;
          }

          &:hover {
            background-color: lighten($modal-content-bg, 10%) !important;
          }

          &.selected {
            background-color: darken($secondary, 10%) !important;
            color: color-yiq(darken($secondary, 10%)) !important;

            &:hover {
              background-color: darken($secondary, 5%) !important;
            }
          }
        }
      }

      &.drop-alert {
        border-color: #fff700;
      }

      &.drop-ready {
        border-color: #ffffff;
      }
    }
  }
}

.dragged_node {
  background-color: darken($secondary, 10%);
  color: color-yiq(darken($secondary, 10%));
  padding: 10px;
}

body.loaded .pane-container .pane .view {
  transition: background-color 200ms ease-in,
              border-color 200ms ease-in,
              box-shadow 200ms ease-in;
}

@mixin narrow {
  .body {
    .listing-row {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .name {
        flex: unset;
        padding: 3px 15px 3px 15px;
      }

      .info {
        flex: unset;
        display: flex;
        padding: 3px 15px 3px 15px;

        .size {
          flex: 1;
        }
      }
    }

    &.info-body {
      .listing-row {
        .name {
          flex: unset;
        }
        .info {
          flex: unset;
          text-align: left;
        }
      }
    }
  }
}

@mixin full-width {
  max-width: calc(100vw - 20px);

  .header .share .fit-width {
    max-width: 60vw;
  }
}

.pane-container .pane:only-child .view {
  @include full-width();
}

@include media-breakpoint-down(sm) {
  .pane-container {
    flex-direction: column;

    .pane .view {
      @include full-width();
      @include narrow();
    }
  }
}
