<script>window.__STATE__ = "<%=state %>"</script>

<div id="app" style="width: 100%; height: 100%;"><%- html %></div>

<script src="/js/sails.io.js" autoConnect="false" reconnection="true" environment="<%= sails.config.environment %>"></script>
<script src="/common.bundle.js"></script>
<script src="/twbs.bundle.js"></script>
<script src="/site.bundle.js"></script>
